@mixin imageandtext {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;

    img {
        opacity: 60%;
        border-radius: 50%;
        width: 20%;
        height: 20%;

        &:hover {
            opacity: 100%;
            cursor: pointer;
        }
    }

    .text {
        opacity: 0;

        p {
            color: red;
            margin: 0
        }
    }

    img+.text {
        opacity: 0;
    }

    img:hover+.text {
        opacity: 100%;
    }
}