@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$headfoot: #374249;
$red: #f38181;
$font: #797979;
$heading: #374249;
$hoverbutton: #cfd1d3;
$backgroundsection: #f3f7f9;
$fontype: 'Roboto', sans-serif;
